<h1>Sign-up</h1>

<main>
    <form action="/signup" method="post" id="signup-form">

        <div class="form-group">
            <label for="username">Username<span>*</span></label>
            <input
                type="text"
                name="username"
                id="username"
                autocomplete="off"
                class="form-control"
                placeholder="Enter username"
                value="{{username}}"
                required="required"
            />
            <small class="form-text text-muted">Username should be at least 4
                characters long, only alphanumeric characters and no spaces
                allowed.</small>
        </div>

        <div class="form-group">
            <label for="password">Password<span>*</span></label>
            <input
                type="password"
                name="password"
                id="password"
                autocomplete="off"
                class="form-control"
                placeholder="Enter password"
                value="{{password}}"
                required="required"
            />
            <small class="form-text text-muted">Password should be at least 6
                characters long.</small>
        </div>

        <button type="submit" class="btn btn-primary">Sign-up</button>
        Or
        <a href="/" class="link-primary">Already have an account? Click here to
            log-in</a>

        {{#if error}}
            <p id="error">{{error}}</p>
        {{/if}}
    </form>
</main>