<h1>Character Finder</h1>
<main>
    <p class="width50per">Welcome to marvel character finder here you can search
        and get information about any Marvel character available in the marvel
        universe. Web site uses official marvel API to get character information
        so the Character information is 100% credible.</p>
    <form action="/search" method="post" class="width50per">
        <label for="searchTerm" class="form-label">Search</label>
        <input
            id="searchTerm"
            name="searchTerm"
            type="text"
            placeholder="Enter search text"
            class="form-control"
            required="required"
            autocomplete="off"
        />
        <input
            type="submit"
            value="Marvel Character Search"
            class="btn btn-primary"
        />
    </form>
</main>